---

import ArrowIcon from '../components/icons/ArrowIcon.astro';
import Acordeon from '../components/Acordeon.astro';
import Arrow2 from '../components/icons/arrow2.astro';
import Upload from '../components/icons/Upload.astro';
import Order from '../components/icons/Order.astro';
import Shipping from '../components/icons/Shipping.astro';
import Quality from '../components/icons/Quality.astro';
import Time from '../components/icons/Time.astro';
import Setting from '../components/icons/Setting.astro';
import LockIcon from '../components/icons/LockIcon.astro';
import CheckIcon from '../components/icons/CheckIcon.astro';
import Services from '../components/Servives.astro'
import Layout from '../layouts/Layout.astro';
import Material from '../components/Material.astro';
import Assistance from '../components/Assistance.astro';

---


<Layout title="Chuantai Automation Manufacture">
<main class= ' w-full max-w-[1300px] m-auto  relative  pt-20' >
<section class='relative h-86 sm:h-96 overflow-hidden'>
	<picture class='absolute z-5 top-0 left-0  w-full  '>
		<img src="/img/banner-en-3.webp" class="h-96 object-[-235px] sm:object-center sm:h-96 block object-cover w-full" alt="Banner img" class="objct-cover" >
	</picture>
	 
	<section  class='sm:px-12 p-4 sm:py-8 flex flex-col z-10  text-wrap  relative  gap-4 w-full h-full sm:w-[580px] sm:ml-24 sm:h-[320px]'>
		<span class='text-zinc-500 text-sm font-semibold'>One-stop service</span>
		<h1 class='font-bold text-2xl max-w-[40ch] text-wrap'>Rapid prototype and mass production of components.</h1>
		<ul>
			<li class='text-zinc-500 text-xs sm:text-sm flex gap-2   items-center '>
				<CheckIcon />
				<strong class='text-blue-700 text-xs md:text-sm'>50000+ </strong> Customer's trusted choice.
			</li>
			<li class='text-zinc-500 text-xs  sm:text-sm flex gap-2 items-center'>
				<CheckIcon/>
				<strong class='text-blue-700 text-xs md:text-sm'>100% </strong>  Fully inspected shipment, quality not compromised.
			</li>

			<li class='text-zinc-500 text-xs sm:text-sm flex gap-2 items-center'>
				<CheckIcon/>
				<strong class='text-blue-700 text-sm md:text-sm'>97% </strong>  On-time delivery rate of 100%, with the fastest delivery in one day.
			</li>
		</ul>
		<p class="text-zinc-500 text-xs flex flex-row items-center gap-1 mb-2" >
			<LockIcon/>
			All uploaded drawings are strictly confidential. 

		</p>
		<a href="#" class="bg-blue-800 font-semibold text-white p-2 text-nowrap rounded md:w-18 w-44 text-center hover:bg-white transition-all duration-200 ease-in hover:outline-2  hover:outline hover:outline-bg-blue-800 hover:text-blue-800">Get a Quotation</a>
	</section>
</section>
<ul class="flex px-2 sm:px-4 w-full justify-between sticky z-10 top-20 md:px-12 text-xs sm:text-base py-2 text-zinc-600 bg-zinc-50">
		<li>
			<a href="#Services" class="sm:p-1 p-[6px] hover:font-medium transition-all duration-250 ease-linear w2">Services</a>
		</li>
		<li>
			<a href="#Advantages" class="sm:p-1 p-[6px] hover:font-medium transition-all duration-250 ease-linear w2">Advantages</a>
		</li>
		<li>
			<a href="#Materials" class="sm:p-1 p-[6px] hover:font-medium transition-all duration-250 ease-linear w2">Materials</a>
		</li>
		<li>
			<a href="#Assistance" class="sm:p-1 p-[6px] hover:font-medium transition-all duration-250 ease-linear w2">Design Assistance</a>
		</li>
		<li>
			<a href="#Quotation" class="sm:p-1 p-[6px] hover:font-medium transition-all duration-250 ease-linear w2">Get Quotation</a>
		</li>
	
</ul>
<section >
	<Services  />
	<section id="Advantages"  class="flex pt-20 flex-wrap">
		<article class='w-full m-auto flex justify-center items-center gap-8  p-4 bg-slate-100 flex-col'>
			<h3 class="font-bold text-xl mb-2">"How to place an order?"</h3>
			<p class='text-blue-800'>You can place your order in just <strong class="font-bold text-lg">3</strong> steps</p>
			<div class="items-container">
				<article class="item">
					<span class="absolute -top-2 -left-2 bg-green-900 text-white  text-xl p-3 h-12px w-12 rounded-full flex justify-center items-center font-semibold ">1</span>
					<picture class="flex justify-center">
						<Upload />
					</picture>
					<p class="font-semibold  max-w-[12ch] text-center">Upload Your 3D File</p>
				</article>
				<div class="  flex  p-1">
					<span class="w-4 h-4">
						<Arrow2 />
					</span>
					<span class="w-4 h-4">
						<Arrow2 />
					</span>
					<span class="w-4 h-4">
						<Arrow2 />
					</span>
				</div>
				<article class="item">
					<span class="absolute -top-2 -left-2 bg-green-900 text-white  text-xl p-3 h-12px w-12 rounded-full flex justify-center items-center font-semibold ">2</span>
					<picture class="flex justify-center">
						<Setting />
					</picture>
					<p class="font-semibold  max-w-[12ch] text-center">Set Your Parametres</p>
				</article>
				<div class="flex  p-1">
					<span class="w-4 h-4">
						<Arrow2 />
					</span>
					<span class="w-4 h-4">
						<Arrow2 />
					</span>
					<span class="w-4 h-4">
						<Arrow2 />
					</span>
				</div>
				<article class="item">
					<span class="absolute -top-2 -left-2 bg-green-900 text-white  text-xl p-3 h-12px w-12 rounded-full flex justify-center items-center font-semibold ">3</span>
					<picture class="flex justify-center">
						<Order />
					</picture>
					<p class="font-semibold  max-w-[12ch] text-center">Receive your parts</p>
				</article>
			</div>
			<a href="#" class="flex p-2 shadow-md rounded text-white hover:bg-emerald-50 transition-all duration-200 ease-in hover:outline-2   hover:outline-orange-400 hover:outline hover:text-orange-400  bg-orange-500 w-40 ">
				<div class="rotate-90">
					<ArrowIcon />
				</div>
				<p class="w-full text-sm text-center font-bold">Get a Quotation</p>
			</a>
		</article >
		<article class='items-container2 bg-slate-100'>
			<h3 class="font-bold text-xl m-auto text-center mb-2">"In your custom parts design procurement"</h3>
			<div class="grid grid-cols-1 sm:grid-cols-4 sm:gap-8 gap-4  py-8">
				<div class="item2 ">
					<header class="bg-green-400 p-2 w-full text-center font-semibold text-white sm:text-sm">
						<p>Upload you 3D File</p>
					</header>
					<div class="flex-grow flex flex-col sm:gap-4 h-full justify-center items-center py-2">
						<picture class="h-16 w-full flex justify-center items-center">
							<Upload/>
						</picture>
						<div class="flex-col flex gap-0 text-xs max-w-[20ch] font-semibold">
							<p>Load 3D maps without </p>
							<p>the need for drawings.</p>
						</div>
					</div>
				</div>
				
				<div class="item2 ">
					<header class="bg-green-400 p-2 w-full text-center font-semibold text-white sm:text-sm">
						<p>Quality Assurance</p>
					</header>
					<div class=" flex-grow flex flex-col sm:gap-4  justify-center items-center py-2">
						<picture  class="h-16 w-full flex justify-center items-center">
							<Quality />
						</picture>
						<div class="flex-col flex gap-0 text-xs max-w-[20ch] font-semibold">
							<p>Strictly controlled quality </p>
						</div>
					</div>
				</div>
				<div class="item2 ">
					<header class="bg-green-400 p-2 w-full text-center font-semibold text-white sm:text-sm">
						<p>Short quotation time</p>
					</header>
					<div class="flex-grow flex flex-col sm:gap-4  justify-center items-center py-2">
						<picture  class="h-16 w-full flex justify-center items-center">
							<Time />
						</picture>
						<div class="flex-col flex gap-0 text-xs max-w-[20ch] font-semibold">
							<p>Automatic quotes </p>
							<p>in one minute.</p>
						</div>
					</div>
				</div>
				<div class="item2 ">
					<header class="bg-green-400 p-2 w-full text-center font-semibold text-white sm:text-sm">
						<p>Delivery guarantee</p>
					</header>
					<div class="flex-grow  flex flex-col sm:gap-4  justify-center items-center py-2">
						<picture class="h-16 w-16 flex justify-center items-center">
							<Shipping/>
						</picture>
						<div class="flex-col flex gap-0 text-xs max-w-[20ch] font-semibold">
							<p>Express shipping in 1 day, faster. </p>

						</div>
					</div>
				</div>
			</div>
			<div class="flex items-center">

				<picture class='h-24 flex  items-center justify-center overflow-hidden'>
					<img src="/img/logo.png" class="h-24 oblockbject-cover"  alt="order-file">
				</picture>
				<p class="text-lg p-0 m-0 text-blue-700 font-bold">一键解决</p>
			</div>
		</article >		
	</section>
	<section id="Materials" class="relative flex justify-center pt-20 w-full">
		<Material />
	</section>
	<Assistance />
</section>

<section class="flex flex-col gap-8 p-16">
			<h3 class="w-full text-center">Chuantai 择幂科技为您的定制零件生产提供强力支持</h3>
			<div class=" grid grid-cols-1 md:grid-cols-3 content-center gap-6  justify-center">
				<article class="flex  text-center gap-4 flex-col">
					<picture class="flex justify-center">
						<img class="w-36 h-36 block" src="/img/masive.svg" alt="Capabilitie">
					</picture>
					<h4>Manufacturing Fusion</h4>
					<p class="max-w-[60ch] m-auto text-center">Chuantai has over 10,000 manufacturing partners located in China and over 30 countries worldwide, with different manufacturing capabilities and certifications. Orders can be placed online. Our manufacturing network strictly adheres to confidentiality agreements to protect customer privacy.</p>
				</article>
				<article class="flex   text-center gap-4 flex-col">
					<picture class="flex justify-center">
						<img class="w-36 h-36 block" src="/img/check.svg" alt="Capabilitie">
					</picture>
					<h4>Instant feedback</h4>
					<p class="max-w-[60ch] m-auto text-center">No need to wait for long, just a few clicks and you can get DFM (Design for Manufacturability) feedback to learn about lead times and quotes, among other information. Xometry's real-time quoting engine (IQE) powered by data science serves you to easily choose appropriate price/lead time options for your projects. It is compatible with STEP, Mesh, Parasolid, and ACIS files.</p>
				</article>
				<article class="flex   text-center gap-4 flex-col">
					<picture class="flex justify-center">
						<img class="w-36 h-36 block" src="/img/order
						.svg" alt="Capabilitie">
					</picture>
					<h4>Precision Logistics</h4>
					<p class="max-w-[60ch] m-auto text-center">With strict quality assurance and regular status updates, we can ensure that the components you order will be accurately and timely delivered.</p>
				</article>

			</div>
</section>
<section id="Quotation" class="flex flex-col justufy-center bg-slate-70 pt-20 pb-5 px-4 items-center gap-8">
		<h4 class="font-bold text-2xl">Video tutorial to quickly understand Chuantai</h4>
		<article class=" flex flex-col gap-8 items-center">
			<section class="flex gap-20 flex-wrap">
				<video class='w-96 max-w-screen flex-1  h-48 border rounded' poster="/img/logo.png" controls="controls"   >
					<source src="/video/misumi-video.mp4" type="video/mp4"/>
				</video>
				<video class='w-96 max-w-screen flex-1 h-48 border k rounded' poster="/img/logo.png" controls="controls"   >
					<source src="/video/misumi-video.mp4" type="video/mp4"/>
				</video>
			</section>
			<div class="flex p-2 items-center shadow-md rounded text-white hover:bg-emerald-50 transition-all duration-200 ease-in hover:outline-2   hover:outline-orange-400 hover:outline hover:text-orange-400  bg-orange-500 w-40 ">
				<div class="rotate-90">
					<ArrowIcon />
				</div>
				<a href="#"class="w-full text-center text-sm font-bold">Get a Quotation</a>
			</div>
		</article>
</section>

<section>
	<Acordeon />
</section>
</main>

</Layout/>
<style>
.items-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.items-container2{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}
.item{
	width: min(150px ,30%);
	background-color: #fff;
	display:flex;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	aspect-ratio: 9/10;
	box-shadow: 0px 0px 4px 2px #00000050;
	border-radius: 4px;
	position: relative;
	line-height: 1.2;
}
.item2{
	height: 200px;
	display: flex;
	flex-grow: 1;
}
@media screen and (min-width:530px){
	.item2{
		width: 150px;
		font-size: .9rem;
		cursor: pointer;
		transition :all 350ms ease;
	}
	.item2:hover{
		scale: 1.08;
	}
}

.item2{
	background-color: #fff;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 1px 0px 6px 4px #0c0c0c65;
}
</style>






