---

import ArrowIcon from '../components/icons/ArrowIcon.astro';
import Acordeon from '../components/Acordeon.astro';
import Arrow2 from '../components/icons/arrow2.astro';
import LockIcon from '../components/icons/LockIcon.astro';
import CheckIcon from '../components/icons/CheckIcon.astro';
import Services from '../components/Servives.astro'
import Layout from '../layouts/Layout.astro';

---


<Layout title="Dachuan Automation Manufacture">
<main class= ' w-full max-w-[1300px] m-auto  relative ' >
<section class='relative  h-86 sm:h-80 '>
	<picture class='absolute -z-10 top-0 left-0  w-full '>
		<img src="/img/banner-en-3.webp" class="h-96 object-[-235px] sm:object-center sm:h-80 block object-cover w-full" alt="Banner img" class="object-cover" >
	</picture>
	<section class='px-12 py-12 flex flex-col text-nowrap gap-4 w-full h-full'>
		<span class='text-zinc-500 text-sm'>提供一站式服务</span>
		<h1 class='font-bold text-2xl'>零件快速打样和批量生产</h1>
		<ul>
			<li class='text-zinc-500 text-base sm:text-lg flex gap-2 items-center'>
				<CheckIcon />
				<strong class='text-blue-700'>50000+ </strong> 客户的信赖之选
			</li>
			<li class='text-zinc-500 text-base sm:text-lg flex gap-2 items-center'>
				<CheckIcon/>
				<strong class='text-blue-700'>100% </strong>  全检出货，质量无
			</li>

			<li class='text-zinc-500 text-base sm:text-lg flex gap-2 items-center'>
				<CheckIcon/>
				<strong class='text-blue-700'>97% </strong>  的准时交付率，最快一天交付
			</li>
		</ul>
		<p class="text-zinc-500 text-sm flex flex-row items-center gap-1" >
			<LockIcon/>
			有上传的图纸均被严格保密，查看保密协议

		</p>
		<a href="#" class='p-2 bg-blue-700 w-32 rounded text-white font-bold'>立即获取报价</a>
	</section>
</section>
<ul class="flex px-4 w-full justify-between sticky z-10 top-20 sm:px-12 py-2 text-zinc-600 bg-zinc-50">
		<li>
			<a href="#" class="p-1  w2">技术</a>
		</li>
		<li>
			<a href="#" class="p-1 w2">优势</a>
		</li>
		<li>
			<a href="#" class="p-1 w2">材料</a>
		</li>
		<li>
			<a href="#" class="p-1 w2">图库</a>
		</li>
		<li>
			<a href="#" class="p-1 w2">概述</a>
		</li>
		<li>
			<a href="#" class="p-1 w2">资源</a>
		</li>
		<li>
			<a href="#" class="p-1 w2">获取报价</a>
		</li>
</ul>
<Services />
<section class="flex flex-wrap">
	<article class='w-full m-auto flex justify-center items-center p-12 flex-col'>
		<h3 class="font-bold text-xl mb-2">如何订购？</h3>
		<p class='text-blue-800'>只需 <strong class="font-bold text-lg">3</strong> 步轻松实现</p>
		<div class=" flex md:gap-6  p-8">
			<article class=" flex flex-col min-w-32 justify-center items-center shadow  shadow-black  rounded-sm text-center relative p-3 gap-3">
				<span class="absolute -top-2 -left-2  text-white rounded-full h-[25px] w-[25px] flex justify-center items-center font-semibold text-xs">1</span>
				<picture>
					<img src="/img/upload.svg" class="w-16 h-16" alt="upload-file">
				</picture>
				<p class="font-semibold text-nowrap">上传3D图</p>
			</article>
			<div class="max-w-10 justify-center bg-red-500 flex items-center">
				<Arrow2 />
				<Arrow2 />
				<Arrow2 />
			</div>
			<article class="min-w-32 flex flex-col justify-center items-center shadow  shadow-black  rounded-sm text-center relative p-3 gap-3">
				<span class="absolute -top-2 -left-2 bg-green-900 text-white rounded-full h-[25px] w-[25px] flex justify-center items-center font-semibold text-xs">2</span>
				<picture>
					<img src="/img/ordenar.svg" class="w-16 h-16" alt="upload-file">
				</picture>
				<p class="font-semibold text-nowrap">上传3D图</p>
			</article>
			<div class=" justify-center flex items-center">
				<Arrow2 />
				<Arrow2 />
				<Arrow2 />
			</div>
			<article class="min-w-32 flex flex-col justify-center items-center shadow  shadow-black  rounded-sm text-center relative p-3 gap-3">
				<span class="absolute -top-2 -left-2 bg-green-900 text-white rounded-full h-[25px] w-[25px] flex justify-center items-center font-semibold text-xs">3</span>
				<picture>
					<img src="/img/upload.svg" class="w-16 h-16" alt="upload-file">
				</picture>
				<p class="font-semibold text-nowrap">上传3D图</p>
			</article>
		</div>
		<a href="#" class="flex p-3 shadow-md rounded text-white bg-orange-500 w-36 ">
			<div class="rotate-90">
				<ArrowIcon />
			</div>
			<p class="w-full text-center font-bold">免费报价</p>
		</a>
	</article >
	<article class='w-full  m-auto flex bg-slate-200 justify-center items-center p-12 flex-col'>
		<h3 class="font-bold text-xl mb-2">您在非标件设计采购中</h3>
		<div class="grid grid-cols-4 gap-4  py-8">
			<div class=" h-auto flex flex-col   shadow-lg rounded  overflow-hidden bg-white gap-4 text-center">
				<header class="bg-green-400 px-2 font-semibold w-full py-2 text-white text-base">
					<p>出图耗时耗力</p>
				</header>
				<div class=" flex flex-col gap-4  justify-center items-center py-2">
					<picture class="h-16 w-full flex justify-center items-center">
						<img src="/img/upload2.svg" class="w-16 h-16" alt="upload-file">
					</picture>
					<div class="flex-col flex gap-0 font-xs font-semibold">
						<p>无需工程图</p>
						<p>上传3D图</p>
					</div>
				</div>
			</div>
			<div class=" h-auto flex flex-col  items-center  shadow-lg rounded overflow-hidden bg-white gap-4 text-center">
				<header class="bg-green-400 px-4 w-full text-sm py-2 text-white ">
					<p>出图耗时耗力</p>
				</header>
				<div class=" flex flex-col gap-2 px-6 py-2">
					<picture <picture class="h-16 w-full flex justify-center items-center">
						<img src="/img/seguro.svg" class="w-16 h-16" alt="stings-file">
					</picture>
					<div class="flex-col flex gap-0 font-xs font-semibold">
						<p>无需工程图</p>
						<p>上传3D图</p>
					</div>
				</div>
			</div>
			<div class=" h-auto flex flex-col  items-center  shadow-lg rounded overflow-hidden bg-white gap-4 text-center">
				<header class="bg-green-400 px-4 w-full text-sm py-2 text-white ">
					<p>出图耗时耗力</p>
				</header>
				<div class=" flex flex-col gap-2 px-6 py-2">
					<picture <picture class="h-16 w-full flex justify-center items-center">
						<img src="/img/settings.svg" class="w-16 h-16" alt="order-file">
					</picture>
					<div class="flex-col flex gap-0 font-xs font-semibold">
						<p>无需工程图</p>
						<p>上传3D图</p>
					</div>
				</div>
			</div>
			<div class=" h-auto flex flex-col  items-center  shadow-lg rounded overflow-hidden bg-white gap-4 text-center">
				<header class="bg-green-400 px-4 w-full text-sm py-2 text-white ">
					<p>出图耗时耗力</p>
				</header>
				<div class=" flex flex-col gap-2 px-6 py-2">
					<picture class="h-16 w-16 flex justify-center items-center">
						<img src="/img/envio.svg" class="w-16 h-16" alt="order-file">
					</picture>
					<div class="flex-col flex gap-0 font-xs font-semibold">
						<p>无需工程图</p>
						<p>上传3D图</p>
					</div>
				</div>
			</div>
		</div>
		<div class="flex items-center">

			<picture class='h-24 flex  items-center justify-center overflow-hidden'>
				<img src="/img/logo.png" class="h-24 oblockbject-cover"  alt="order-file">
			</picture>
			<p class="text-lg p-0 m-0 text-blue-700 font-bold">一键解决</p>
		</div>
	</article >		
</section>
<section class="flex flex-col gap-8 p-16">
		<h3 class="w-full text-center">Chuantai 择幂科技为您的定制零件生产提供强力支持</h3>
		<div class=" grid grid-cols-1 md:grid-cols-3 content-center gap-6  justify-center">
			<article class="flex  text-center gap-4 flex-col">
				<picture class="flex justify-center">
					<img class="w-36 h-36 block" src="/img/masive.svg" alt="Capabilitie">
				</picture>
				<h4>庞大的制造网络</h4>
				<p class="max-w-[60ch] m-auto text-center">Xometry择幂科技拥有超过 10,000 家制造伙伴遍布在中国和全球30多个国家，具备不同的制造能力和认证。在线即可下达订单。我们的制造网络严格遵守保密协议，保护客户隐私。</p>
			</article>
			<article class="flex   text-center gap-4 flex-col">
				<picture class="flex justify-center">
					<img class="w-36 h-36 block" src="/img/check.svg" alt="Capabilitie">
				</picture>
				<h4>庞大的制造网络</h4>
				<p class="max-w-[60ch] m-auto text-center">无须漫长等待，只需轻点几下按键，即可获取 DFM（可制造性设计分析）反馈，了解备货时间和报价等信息。Xometry择幂科技实时报价引擎（IQE）利用数据科学为您服务，助您轻松为项目选择合适的价格/备货时间选项。兼容 STEP、Mesh、Parasolid 和 ACIS 文件。</p>
			</article>
			<article class="flex   text-center gap-4 flex-col">
				<picture class="flex justify-center">
					<img class="w-36 h-36 block" src="/img/akiii
					.svg" alt="Capabilitie">
				</picture>
				<h4>庞大的制造网络</h4>
				<p class="max-w-[60ch] m-auto text-center">凭借严格的质量保证和定期状态更新， 可确保您定购的部件将准确无误地准时送达。</p>
			</article>

		</div>
</section>
<section class="flex flex-col justufy-center bg-slate-50 p-8 items-center gap-8">
	<h4 class="font-bold text-2xl">点击以下视频 快速了解 Chuantai</h4>
	<article class=" flex flex-col gap-8 items-center">
		<section class="flex gap-20 flex-wrap">
			<video class='w-96 max-w-screen flex-1  h-48 border rounded' poster="/img/logo.png" controls="controls"   >
				<source src="/video/misumi-video.mp4" type="video/mp4"/>
			</video>
			<video class='w-96 max-w-screen flex-1 h-48 border k rounded' poster="/img/logo.png" controls="controls"   >
				<source src="/video/misumi-video.mp4" type="video/mp4"/>
			</video>
		</section>
		<div class="flex p-3 shadow-md rounded text-white bg-orange-500 w-48 ">
			<div class="rotate-90">
				<ArrowIcon />
			</div>
			<a href="#"class="w-full text-center font-bold">免费报价</a>
		</div>
	</article>
</section>
<section>
	<Acordeon />
</section>
</main>

</Layout/>






