<footer class='bg-indigo-950 h-auto text-white '>
    <section class="p-12 max-w-[1200px] m-auto">
       
            <ul class='grid sm:grid-cols-2 md:grid-cols-4 pb-8 gap-16 border-b-[1px] :mdjustify-center border-zinc-500'>
                <ul class="flex flex-col gap-2  text-sm">
                    <p class="text-zinc-400">制造能力</p>
                    <li><a href="#">CNC 加工</a></li>
                    <li><a href="#">钣金加工</a></li>
                    <li><a href="#">3D 打印服务</a></li>
                    <li><a href="#">注塑成型</a></li>
                </ul>
                <ul class="flex flex-col gap-2  text-sm">
                    <p class="text-zinc-400"> 资源</p>
                    <li><a href="#">实时报价引擎</a></li>
                    <li><a href="#">上手指南</a></li>
                    <li><a href="#">客户案例</a></li>
                </ul>
                <ul>
                    <p class="text-zinc-400">其他</p>
                    <li><a href="#">数据保护政策</a></li>
                    <li><a href="#">条款细则</a></li>
                    <li><a href="#">关于发票</a></li>
                </ul>
                <ul>
                    <p class="text-zinc-400">联系我们其他</p>
                    <li><a href="tel:999 999 999">电话 : 999 999 999</a></li>
                    <li><a href="mailto:example@gmail.com">邮箱 : example@gmail.com</a></li>
                    <li><a href="#">关于发票</a></li>
                </ul>
            </ul>
            <ul class=" mt-6 flex-col md:flex-row flex justify-between items-center relative">
                <div class="flex h-32 gap-3 items-center justify-center flex-col sm:flex-row  ">
                    <picture class=' h-20 overflow-hidden flex justify-start cursor-pointer text-zinc-500 '>
                        <img class='object-cover  ' src="img/logo.png" alt="Dachuan Logo">
                    </picture>
                    <p>&copy 2024 , Chuantai Enterprise</p>
                </div>
                <div class="flex gap-3 ">
                    <a href="#" class="text-blue-500">沪ICP备2022003370号-1</a>
                    <a href="#" class="text-blue-500">沪公网安备31010902003376号</a>
                </div>
            </ul>
    </section>
</footer>



