---
import LoginIcon from '../components/icons/icono.astro'
import ArrowIcon from './icons/ArrowIcon.astro'
---

<header class='w-full max-w-[1300px] m-auto h-20  shadow-md flex  relative  md:pr-2'>
	<section class="flex w-full max-w-[1300px] bg-white items-center m-auto justify-between border-b-1 h-20 z-30 shadow-md fixed   ">

		<section class="header__container--right">
			<picture  class="w-44 h-full flex items-center overflow-hidden">
				<img src="/img/logo.png" alt="Logo" class="w-full object-cover object-top">
			</picture>
		</section>
		<section class="main-nav sm:flex-1 " id="menu">
		<ul class="menu md:flex-1 " >
			<li class="menu__item"><a href="" class="menu__link active">Collections</a></li>
			<li class="menu__item ">
				<a href="#" class="menu__link ">Capability</a>
				<ul class="hidden sm:px-8 sub-menu w-screen  max-w-[1300px] md:justify-between md:items-center bg-red-400 md:absolute -left-44 top-[60px]  md:h-20">
					<li><a href="#">Turng</a></li>
					<li><a href="#">Milling</a></li>
					<li><a href="#">Drilling</a></li>
				</ul>
			</li>
			<li class="menu__item ">
				<a href="" class="menu__link ">Capability</a>
			</li>
			<li class="menu__item ">
				<a href="" class="menu__link ">Capability</a>
			</li>
		</ul>
		<section class="log flex flex-nowrap relative items-center justify-center gap-3 ">
			<div class="flex flex-nowrap">
				<span>EN</span>
				|
				<span>CH</span>
			</div>
			<div class="flex gap-3 flex-nowrap">
				<p class="w-12">Log in</p>
				<LoginIcon />
			</div>
			<a href="#" class="bg-blue-800 text-white p-2 text-nowrap rounded md:w-18 w-44 text-center"> Get a Quotation</a>
		</section>
		
	</section>
	<picture id="toggle" class="h-12 w-12 md:hidden mr-2 flex items-center  relative">
			<img src="/img/menu.svg" alt="menu icon" class="w-12 h-12 fixed top-3 right-1 ">
	</picture>
</section>
</header>
<script>
	const menuElement = document.getElementById('menu')
	const toggleElement = document.getElementById('toggle')

	toggleElement.addEventListener('click', ()=>{
		menuElement.classList.toggle('show')
	})
</script>
<style>

.header__container--right , .header__container--left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: block;
    height: 30px;
    width: 220px;
}

.menu__link{
    width: 100%;
    display:block;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: 700;

}
.menu__item:hover .sub-menu{
	display: flex;
}
@media screen and (max-width:768px){
	.main-nav{
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100vh;
		background-color: red;
		display: block;
		z-index: 110;
		padding: 20px;
		padding-top: 20px;
		margin-top: 75px;
		border-top: 1px solid grey;
		transform: translatex(100%);
		transition: transform 350ms ease-in;
		background: #ffffff;
	}
	.show{
	transform: translatex(0%);
	}
	header{
		box-shadow: 1px 0px 1px rgb(0, 	0, 0);
		background: red;
	}
	header > section{
		position: fixed;
		top: 0;
		left: 0;
	}
	.menu{
		gap:10px;
		display:flex;
		flex-direction: column;
	}
	.menu__link{

		padding: 10px;
		border-bottom: 1px solid grey;

	}
	.log{
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.log > div{
		display: flex;
		gap: 10px;
		padding: 5px;
	}
	.log > div > span{
		padding: 5px;
	}
}
@media screen and (min-width:768px){
    
    

	 .toggle-menu{
        display: none;
    
    }
	  /* menu */
    .main-nav{
		width: 100%;
        position: relative;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		flex: 1;

    }
   
    .menu{
        position: relative;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0px;
        margin: 0;
    }
    .menu__item{
        padding: 5px;
 
        
    }
    .menu__link{
        width: 100%;
        display:block;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        color: var(--color-gray-blue);
        /* color: var(--color-gray-dark-blue); */
        font-weight: normal;
        
    }
}
</style>