---
import ArrowIcon from "./icons/ArrowIcon.astro"
---

<div class="container flex flex-col gap-2">
    <h2 class="text-center font-semibold text-2xl mb-8 underline">Materials</h2>
	<p class="max-w-[70ch] text-center m-auto pb-2">All these materials are available in the Chuantai Instant Quoting Engine. If you require a different, material please specify it as custom when you make a request.</p>
	<table>
		<thead>
			<tr>
				<th>Material</th>
				<th colspan="4" class="bg-white">Column 2</th>
				
			</tr>
		</thead>
		<tbody class="sm:text-base text-xs ">
			<tr>
				<td>Aluminum</td>
				<td>Aluminum 6061-T6</td>
				<td>Aluminum 2024</td>
				<td>Aluminum MIC-6</td>
				<td>Aluminum 6063</td>
			</tr>
			<tr>
				<td>Stainless Steel</td>
				<td>Stainless Steel 303</td>
				<td>Stainless Steel 304</td>
				<td>Stainless Steel 304L</td>
				<td>Stainless Steel 17-4PH</td>
			</tr>
			<tr>
				<td>Steel Alloy</td>
				<td>Steel Alloy 1045</td>
				<td>Steel Alloy A36</td>
				<td>Steel Alloy 4340</td>
				<td>Steel Alloy 4140</td>
			</tr>
			<tr>
				<td>Copper</td>
				<td>Copper C101</td>
				<td>Copper C102</td>
				<td>Copper C110</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Plastic</td>
				<td>ABS</td>
				<td>Bakelite</td>
				<td>Garolite G10/FR4</td>
				<td>Nylon 66</td>
			</tr>
		</tbody>
	</table>
	<div class="flex p-2 items-center m-auto my-8 shadow-md rounded text-white hover:bg-emerald-50 transition-all duration-200 ease-in hover:outline-2   hover:outline-orange-400 hover:outline hover:text-orange-400  bg-orange-500 w-40 ">
				<div class="rotate-90">
					<ArrowIcon />
				</div>
				<a href="/Materials"class="w-full text-center text-sm font-bold">See More</a>
			</div>
</div>
<style>
.container{
    overflow: hidden;
    width: 100%;

}
table {
    
    width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #b9b7b7;
}
thead { 
    border-radius: 4px;

}
th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
}

th {
	text-align: left;
}
thead th {
		background-color: #55608f;
}

tr:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}

	td {
		position: relative;
	}
		td:hover::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255, 255, 255, 0.2);
				z-index: -1;
	
	}

@media screen and (max-width:400px) {
	.container{
		padding: 15px;
		padding-bottom: 0;
	}
	td {
	padding: 7px;
	font-size: .6rem;

	}
td:nth-child(n+3) {
    display: none;
  }
}


@media (max-width: 769px) { /* Dispositivos de mayor tamaño */
  td:nth-child(n+4) {
    display: none;
  }
  .container{
		padding: 15px;
	}
}

</style>