<div class="container">
    <h2 class="text-center font-semibold text-2xl mb-8 underline">Materials</h2>
	<table>
		<thead>
			<tr>
				<th>Column 1</th>
				<th>Column 2</th>
				<th>Column 3</th>
				<th>Column 4</th>
				<th>Column 5</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Aluminum</td>
				<td>Aluminum 6061-T6</td>
				<td>Aluminum 2024</td>
				<td>Aluminum MIC-6</td>
				<td>Aluminum 6063</td>
			</tr>
			<tr>
				<td>Stainless Steel</td>
				<td>Stainless Steel 303</td>
				<td>Stainless Steel 304</td>
				<td>Stainless Steel 304L</td>
				<td>Stainless Steel 17-4PH</td>
			</tr>
			<tr>
				<td>Steel Alloy</td>
				<td>Steel Alloy 1045</td>
				<td>Steel Alloy A36</td>
				<td>Steel Alloy 4340</td>
				<td>Steel Alloy 4140</td>
			</tr>
			<tr>
				<td>Copper</td>
				<td>Copper C101</td>
				<td>Copper C102</td>
				<td>Copper C110</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Aluminum MIC-6</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
		</tbody>
	</table>
</div>
<style>
.container{
    overflow: hidden;
    width: 100%;
    padding: 50px;
    
}
table {
    
    width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #b9b7b7;
}
thead { 
    border-radius: 4px;

}
th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
}

th {
	text-align: left;
}

 
	thead th {
		background-color: #55608f;
	}


</style>