---
import ArrowIcon from '../components/icons/ArrowIcon.astro';
const {id} = Astro.props
---
<main id="Services">
	    <h2 class="text-center font-semibold text-2xl mb-4 pt-4 ">Services</h2>
		<p class="max-w-[70ch] text-center m-auto pb-2 mb-4">All these Services are available in the Chuantai Instant Quoting Engine.</p>
		<section id={id} class="grid md:grid-cols-3 md:grid-flow-col  ">
	<article class="grid overflow-hidden  place-content-center  bg-gradient-to-l p-4  text-white to-green-500 from-green-700  gap-6 py-4 ">
		<picture class=" flex items-center w-40 m-auto h-28">
			<img src="/img/miling1.svg" class="object-cover h-full w-full" alt="Service Picture cnc">
		</picture>
		
		<div class="flex  flex-col gap-4 p-4 ">
			<h3 class="font-bold text-lg border-b py-4">CNC Milling</h3>
		
			<ul class="flex flex-col gap-2 ">
				<li class="list-disc text-md ">We offer high precision CNC milling services to create custom parts according to your exact specifications.</li>
				<li class="list-disc">Our CNC turning service uses cutting-edge technology to efficiently produce high-quality cylindrical components.</li>
				<li class="list-disc">We provide advanced CNC machining solutions that guarantee the accuracy and quality of your industrial projects.</li>
			</ul>
			<a href="#" class="flex mt-12  items-center p-3 shadow-md rounded text-white bg-orange-500 w-full  hover:bg-emerald-50 transition-all duration-200 ease-in hover:outline-2  hover:border-orange-400 hover:outline hover:text-orange-400">
				<div class="rotate-90">
					<ArrowIcon />
				</div>
				<p class="text-center w-full">See More</p>
			</a>
		</div>
	</article>
	<article class="overflow-hidden grid place-content-center  bg-gradient-to-l p-4  text-white to-orange-500 from-orange-700  gap-6 py-4 ">
		<picture class=" flex items-center w-40 m-auto h-28">
			<img src="/img/drilling1.svg" class="object-cover h-full w-full" alt="Service Picture cnc">
		</picture>
		
		<div class="flex  flex-col gap-4 p-4 ">
			<h3 class="font-bold text-lg border-b py-4">CNC Turning</h3>
		
			<ul class="flex flex-col gap-2 ">
				<li class="list-disc text-md ">Our CNC turning service utilizes state-of-the-art equipment to deliver precise and intricately shaped cylindrical components.</li>
				<li class="list-disc">With our CNC turning capabilities, we can efficiently produce a wide range of turned parts, including shafts, pins, and connectors, to meet your specific requirements.</li>
				<li class="list-disc">Our skilled machinists and advanced turning machines ensure the highest level of accuracy and repeatability in the production of your turned components.</li>
			</ul>
			<a href="#" class="flex p-3 items-center shadow-md rounded text-white bg-orange-500 w-full  hover:bg-emerald-50 transition-all duration-200 ease-in hover:outline-2   hover:outline   hover:outline-orange-400 hover:text-orange-400">
				<div class="rotate-90 ">
					<ArrowIcon />
				</div>
				<p class="text-center w-full">See More</p>
			</a>
		</div>
	</article>
		<article class="overflow-hidden grid place-content-center  bg-gradient-to-l p-4  text-white to-yellow-500 from-yellow-700  gap-6 py-4 ">
		<picture class=" flex items-center w-40 m-auto h-28">
			<img src="/img/turning.svg" class="object-cover" alt="Service Picture cnc">
		</picture>
		
		<div class="flex  flex-col gap-4 p-4 ">
			<h3 class="font-bold text-lg border-b py-4">CNC Drilling</h3>
		
		<ul class="flex flex-col gap-2 ">
			<li class="list-disc text-md ">Our drilling services offer precise and efficient hole drilling solutions for a variety of materials, including metal, plastic, and wood.</li>
			<li class="list-disc">We have a range of drilling machines, including CNC drills, that can handle different hole sizes and depths to meet your specific needs.</li>
			<li class="list-disc">Our experienced operators are skilled in drilling holes with tight tolerances, ensuring the highest level of accuracy and consistency in your drilled components.</li>
		</ul>
		<a href="#" class="flex mt-4  p-3 flex-grow pb-4 items-center shadow-md rounded text-white bg-orange-500 w-full  hover:bg-emerald-50 transition-all duration-200 ease-in hover:outline-2  hover:outline hover:border-orange-400 hover:text-orange-400">
			<div class="rotate-90 ">
				<ArrowIcon />
			</div>
			<p class="text-center w-full">See More</p>
		</a>
		</div>
	</article>
</section>
</main>

